<div class="col-10 offset-1"
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://gabrielmaestas.netlify.com">Gabriel</a>. A web developer in training who is looking to make the best looking and fastest web sites across the web.
  </p>
  <br />
  <p>
    He is learning with a small cohort of like minded individuals who all aspire to be the best!
  </p>
  <p>
    If you also want to dabble in coding - click<a target="_blank" href ="https://online.bootcampspot.com"> here</a>.
  </p>
</div>