<div class="col-10 offset-1 about"
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://gabrielmaestas.netlify.com">Gabriel</a>. A web developer in training who is looking to make the best looking and fastest web sites across the web.
  </p>
  <br />
  <p>
    He is learning with a small cohort of like minded individuals who all aspire to be the best!
  </p>
  <p>
    If you also want to dabble in coding - click<a target="_blank" href ="https://bootcamp.ce.arizona.edu/coding/online/landing/?s=Google-Brand&&71232098572_kwd-318139889176__327898242672_g_c___dc&pkw=university%20of%20arizona%20coding%20bootcamp&pcrid=327898242672&pmt=e&utm_source=google&utm_medium=cpc&utm_campaign=&utm_term=university%20of%20arizona%20coding%20bootcamp&utm_content=327898242672&s=google&k=university%20of%20arizona%20coding%20bootcamp&gclid=Cj0KCQjwhuvlBRCeARIsAM720HqArIsJLbfJom8yuh-IoLRkDwbXhF0ajK-HCMhvzSdpqxGXhkDGfhcaAizqEALw_wcB&gclsrc=aw.ds"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'gabriel_1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gabriel Maestas</h2>
      <br />
      <p>
        Gabriel Maestas is a full stack web developer. He has created a splurty app and will continue to work in a job that he loves.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>
<br />
<br />
<br />
<br />